# Import and read data

In [9]:
import pandas as pd

In [10]:
weather = pd.read_csv('weather/data.csv')

In [12]:
weather

,province,day,month,year,max_temp(celcius),min_temp(celcius),wind(km/h),wind_d,rain(mm),humidi(%),cloud(%),pressure(mb)
0,Bac Lieu,1,1,2009,27 °c,22 °c,17 km/h,NNE,6.9 mm,90%,71%,1010 mb
1,Bac Lieu,1,1,2010,31 °c,25 °c,20 km/h,ENE,0.0 mm,64%,24%,1010 mb
2,Bac Lieu,1,1,2011,29 °c,24 °c,14 km/h,E,0.0 mm,75%,45%,1008 mb
3,Bac Lieu,1,1,2012,30 °c,24 °c,30 km/h,E,0.0 mm,79%,52%,1012 mb
4,Bac Lieu,1,1,2013,31 °c,25 °c,20 km/h,ENE,0.0 mm,70%,24%,1010 mb
...,...,...,...,...,...,...,...,...,...,...,...,...
181955,Soc Trang,28,12,2016,28 °c,23 °c,8 km/h,SSW,0.0 mm,75%,50%,1011 mb
181956,Soc Trang,28,12,2017,30 °c,24 °c,21 km/h,ENE,7.2 mm,81%,50%,1011 mb
181957,Soc Trang,28,12,2018,26 °c,24 °c,9 km/h,ENE,1.3 mm,91%,75%,1009 mb
181958,Soc Trang,28,12,2019,30 °c,23 °c,11 km/h,E,0.0 mm,74%,6%,1012 mb
181959,Soc Trang,28,12,2020,29 °c,24 °c,9 km/h,ESE,0.7 mm,84%,43%,1009 mb

# Remove unit and turn to vector

In [13]:
weather['date'] = pd.to_datetime([f'{y}-{m}-{d}' for y, m, d in zip(weather.year, weather.month, weather.day)])

In [14]:
# This remove all unit and turn data to numerical
#
# rain
weather['rain(mm)'] = pd.to_numeric(weather['rain(mm)'].map(lambda c: c.rstrip('m')))

# wind
weather['wind(km/h)'] = pd.to_numeric(weather['wind(km/h)'].map(lambda c: c.rstrip('km/h')))

# tempeture
weather['min_temp(celcius)'] = pd.to_numeric(weather['min_temp(celcius)'].map(lambda c: c.rstrip('°c')))
weather['max_temp(celcius)'] = pd.to_numeric(weather['max_temp(celcius)'].map(lambda c: c.rstrip('°c')))

# humidi, cloud, pressure
weather['humidi(%)'] = pd.to_numeric(weather['humidi(%)'].map(lambda c: c.rstrip('%')))
weather['cloud(%)'] = pd.to_numeric(weather['cloud(%)'].map(lambda c: c.rstrip('%')))

weather['pressure(mb)'] = pd.to_numeric(weather['pressure(mb)'].map(lambda c: c.rstrip('mb')))

# Statics

In [11]:
weather.nunique()

province               40
day                    31
month                  12
year                   13
max_temp(celcius)      43
min_temp(celcius)      31
wind(km/h)             51
wind_d                 16
rain(mm)             1298
humidi(%)              77
cloud(%)              101
pressure(mb)           49
dtype: int64

In [18]:
weather.groupby('province').agg({'max_temp(celcius)':['min', 'max', 'mean', 'median']})

                 max_temp(celcius)
                               min max       mean median
province
Bac Lieu                        22  39  31.981974     32
Ben Tre                         21  41  32.680809     33
Bien Hoa                        22  41  32.992306     33
Buon Me Thuot                   18  42  30.645856     31
Ca Mau                          22  39  31.660365     32
Cam Pha                          8  34  25.486920     26
Cam Ranh                        22  35  28.851396     29
Can Tho                         22  40  32.451088     32
Chau Doc                        22  40  32.818202     33
Da Lat                          14  36  25.871840     26
Ha Noi                           7  45  29.489998     30
Hai Duong                        8  40  28.189712     29
Hai Phong                        7  39  27.633985     28
Hanoi                            7  45  29.489998     30
Ho Chi Minh City                22  41  32.992306     33
Hoa Binh                         4  46  28.619697     29
Hong Gai                         8  35  25.650253     27
Hue                             15  39  29.256760     30
Long Xuyen                      23  40  32.693559     33
My Tho                          21  41  32.680809     33
Nam Dinh                         6  43  28.790284     29
Nha Trang                       19  36  28.899319     29
Phan Rang                       22  35  28.851396     29
Phan Thiet                      23  37  31.395911     32
Play Cu                         16  40  28.647175     29
Qui Nhon                        19  36  29.027918     29
Rach Gia                        22  40  31.037371     31
Soc Trang                       22  39  31.981974     32
Tam Ky                          18  40  29.246428     29
Tan An                          22  41  32.920202     33
Thai Nguyen                      6  42  28.044625     29
Thanh Hoa                        7  41  28.216971     29
Tra Vinh                        21  39  31.632007     32
Tuy Hoa                         19  36  29.027918     29
Uong Bi                          5  37  26.362058     27
Viet Tri                         6  43  28.259837     29
Vinh                             8  40  28.232579     29
Vinh Long                       22  40  32.542097     33
Vung Tau                        23  35  29.977358     30
Yen Bai                          6  43  28.259837     29