In [1]:
# For reading + writing and standarlize
import pandas as pd

# For check wrong format
import re

In [2]:
df = pd.read_csv('standarlized.csv')
df

,article_link,headline,posted_at,is_sarcastic
0,https://www.theguardian.com/law/2021/jun/08/po...,‘Powerful’ new watchdog will target unscrupul...,07/06/2021,0
1,https://www.theguardian.com/business/2021/jun/...,UK retail sales in May saw highest rise since ...,07/06/2021,0
2,https://www.theguardian.com/business/nils-prat...,G7 tax deal is welcome – but Treasury must now...,07/06/2021,0
3,https://www.theguardian.com/society/2021/jun/0...,Gambling awards under fire over lack of divers...,07/06/2021,0
4,https://www.theguardian.com/business/2021/jun/...,UK hospitality calls for deal with landlords t...,07/06/2021,0
...,...,...,...,...
210440,https://www.cbsnews.com/news/super-bowl-ads-se...,Super Bowl ads selling for more than $4 million,09/01/2013,0
210441,https://www.cbsnews.com/news/japan-airlines-ex...,Japan Airlines explains Dreamliner fuel leak,09/01/2013,0
210442,https://www.cbsnews.com/news/tech-myths-that-c...,Tech myths that cost you money,09/01/2013,0
210443,https://www.cbsnews.com/news/aig-thank-you-ame...,"AIG: Thank you, America -- and see you in court",09/01/2013,0
210444,https://www.cbsnews.com/news/ceo-gm-aims-for-i...,CEO: GM aims for investment-grade status this ...,09/01/2013,0

In [3]:
df['posted_at'] = pd.to_datetime(df['posted_at'])

In [4]:
start_date = pd.Timestamp('31/12/2017')
end_date = pd.Timestamp('today')
th_years = df.loc[(df['posted_at'] > start_date) & (df['posted_at'] < end_date)].sort_values('posted_at')

In [5]:
th_years.to_csv('all.csv')